.chat {
  padding: 60px;
}

.chatOptions {
  display: flex;
  flex-direction: column;
  form {
    display: flex;
    align-items: flex-start;
    flex-flow: column;
  }
  .chatOptions__radio {
    display: flex;
    padding: 5px;
    label {
      display: flex;
      align-items: baseline;
    }
  }
  .chatOptions__info {
    display: flex;
    align-items: baseline;
    flex-direction: column;
  }
  .custom__input {
    width: 42vw;
    padding-bottom: 50px;
    border: 1px solid gray;
    border-radius: 3px;

    outline-width: 0;
  }
}
